<footer class="bg-dark text-center text-lg-start">
<div class="text-light text-center p-3 footer-font">
Made by Prasium with
<a class="text-light" href="https://giphy.com/">Giphy</a>
  © 2021
</div>
<!-- Copyright -->
</footer>

</body>
</html>
